@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<BlogPost>
@{
    ViewBag.Title = "My blog posts";
}

<main class="container-sm">
    <div class="jumbotron jumbotron-fluid">
        <div class="container p-0">
            <img id="photo" alt="Banner photo" src="~/images/iStock-1281363470.jpg" class="img-fluid rounded" />
            <h1 class="display-4">@ViewBag.Title</h1>
            <p class="lead">Blogging about interesting stuff.</p>
        </div>
    </div>
    
    @if (ViewBag.Categories is not null)
    {
        <text>Categories: </text>
        foreach (Category c in ViewBag.Categories)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-id="@c.Name">@c.Name</a><text>  |  </text>
        }
    }
    <a asp-controller="Home" asp-action="Index" asp-route-id="All">All</a>
    <hr />
    <h2>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(ViewBag.SelectedCategory) blog posts</h2>

    <a asp-area="Admin" asp-controller="BlogPost" asp-action="Add">Add a new blog post</a>
    <table class="table table-striped table-bordered table-hover mt-4">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Posted on</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blogpost in Model)
            {
                <tr>
                    <td><a asp-controller="BlogPost" asp-action="BlogPost" asp-route-id="@blogpost.BlogPostId" asp-route-slug="@blogpost.Slug">@blogpost.Title</a></td>
                    <td>@blogpost.Author</td>
                    <td>@blogpost.Category.Name</td>
                    <td>@blogpost.Time</td>
                    <td>
                        <a asp-area="Admin" asp-controller="BlogPost" asp-action="Edit" asp-route-id="@blogpost.BlogPostId" asp-route-slug="@blogpost.Slug">Edit</a>
                        <a asp-area="Admin" asp-controller="BlogPost" asp-action="Delete" asp-route-id="@blogpost.BlogPostId" asp-route-slug="@blogpost.Slug">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>